/* Base Template css
-------------------------------------------------- */
#funnel_icon {
    margin-right: 20px;
}

#content-containter {
    margin-top: 78px;
    margin-left: 20px;
    margin-right: 20px;
}
