<html>
  {{template "header.tmpl.html"}}
<body>
  {{template "nav.tmpl.html"}}

  <div id="content-containter"></div>
    <h1>Datastore Destinations</h1>

    <button type="button" class="btn btn-dark">New Datastore Destination</button>

    <br></br>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Adapter</th>
          <th scope="col">Host</th>
          <th scope="col">Database</th>
          <th scope="col">Schema</th>
          <th scope="col">Username</th>
          <th scope="col"></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><a href=#>Datawarehouse</a></td>
          <td>PostgreSQL</td>
          <td>localhost</td>
          <td>cdw_development</td>
          <td></td>
          <td>funnel</td>
          <td><a href=#>Edit</a> | <a href=#>Destroy</a></td>
        </tr>
      </tbody>
    </table>
  </div>

  {{template "footer.tmpl.html"}}
</body>
</html>
